<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CommChecker.Properties.Settings>
            <setting name="DayColour" serializeAs="String">
                <value>210, 220, 230</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Default.txt</value>
            </setting>
            <setting name="FilesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NightColour" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
        </CommChecker.Properties.Settings>
    </userSettings>
</configuration>